@import "tailwindcss";

body {
  background: hwb(36 0% 80%);;
  color: #fff;;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  
}

.box{@apply max-w-3xl m-auto my-8 rounded-2xl border-1 border-white p-4}

.linkButton {@apply bg-gray-500 text-white font-bold p-4 rounded-2xl cursor-pointer}

.linkButton:hover {@apply text-gray-500 bg-white}

.pageTitle {@apply text-4xl text-center}

.textInput,
.createInput {@apply block bg-white text-black font-bold p-2 mb-4 cursor-pointer}

.createInput {@apply w-[25vw] h-[25vw] max-w-[40vw] max-h-[40vw]}